
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@foreach (var sach in Model)
{
    <div class="templatemo_product_box" style="width:200px; height:500px">
        <h1 style="overflow:hidden; white-space:nowrap">@sach.Tensach</h1>
        <div style="width:100%; height:300px">
            <img src="@sach.Anhbia" style="width:100%; height:100%" alt="image" />
        </div>

        <div class="product_info">
            <p></p>
            <h3>@sach.Giaban</h3>
            <div class="buy_now_button">
                <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMasach = sach.Masach, @strUrl = Request.Url.ToString()})">Buy Now</a>
            </div>
            <div class="detail_button">
                <a href="@Url.Action("Details", "BookStore", new {id = sach.Masach})">Detail</a>
            </div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
}

